body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#status_connected {
  color: green;
}

#status_disconnected, #status_failed {
  color: red;
}

#status_connecting {
  color: greenyellow;
}

.trigger {
  font-size: 3em;
}

.from_self {
  color: green;
}